{% if franchises|length > 0 %}
    {% for franchise in franchises %}
        <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center p-2">
            <div class="box-wrapper {{ franchise.isActive == true ? '' :'box-inactive' }} p-2">
                <h3 class="text-center">{{franchise.userInfo.name}}</h3>
                <div>ID : {{franchise.userInfo.id}}</div>
                <div class="overflow-hidden text-nowrap">Email : {{franchise.userInfo.email}}</div>
                <div>Structures : {{franchise.structures|length }}</div>
                {% if franchise.isActive == true %}
                <div class="green">Active</div>
                {% else %}
                <div class="red">Inactive</div>
                {% endif %}
                <a href="{{path("app_edit_franchise", {'id': franchise.id })}}"><button class="btn-grad grad-green ">Editer</button></a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="text-center mt-5 p-2 bold">Aucune structure</div>
{% endif %}
