{% if structures|length > 0 %}
        <h2 class="text-center mb-3">Les structures</h2>
    {% for structure in structures %}
    <div class="col-12 col-xl-6 mb-2 full-center">
        <div class="box-wrapper row {{ structure.isActive == true ? '' :'box-inactive' }} mb-2">
            <h3 class="overflow-hidden text-nowrap text-center">{{structure.userInfo.name}}</h3>
            <div >Id : {{structure.id}}</div>
            <div class="overflow-hidden text-nowrap"><span class="lower">{{structure.userInfo.email}}</span></div>
                {% if structure.isActive == true %}
                    <div class="green">Activé</div>
                    {% else %}
                    <div class="red ">Désactivé</div>
                {% endif %}
            <div >
                <a href="{{path("app_edit_structure", {"id" : structure.id})}}"><button class="btn-grad grad-green">Editer</button></a>
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
        <div class="text-center mt-5 p-2 bold">Aucune franchise trouvée</div>
{% endif %}