{% if structures|length > 0 %}
    {% for structure in structures %}
    <div class="col-6">
        <div class="box-wrapper  {{ structure.isActive == true ? '' :'box-inactive' }} p-2 mb-4">
            <h3 class="text-center">{{structure.userInfo.name}}</h3>
            <div>ID : {{structure.id}}</div>
            <div>{{structure.userInfo.email}}</div>
                {% if structure.isActive == true %}
                    <div class="green">Actif</div>
                    {% else %}
                    <div class="red">Inactif</div>
                {% endif %}
            <div class="d-flex justify-content-between">
                <a href="{{path("app_edit_structure", {"id" : structure.id})}}"><button class="btn-grad grad-gold">Editer</button></a>
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
        <div class="text-center mt-4">Aucune franchise ne correspond à vos critères</div>
{% endif %}