{% extends 'base.html.twig' %}

{% block title %}Hello FranchiseController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
            {{ form_start(form2) }}
        {{ form_widget(form2) }}
        <button type="submit" class="btn">valider</button>
        {{ form_end(form2) }}
    {{id}}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn" type="submit">Enregistrer les modifications</button>
        {{ form_end(form) }}
        <a href="{{path("create_structure", {"id" : id})}}"><button class="btn">Nouvelle structure</button></a>

        <div>
        {% for structure in structures %}
        <div>{{structure.userInfo.name}}</div>
        <div>{{structure.userInfo.email}}</div>
        <div>
            <a href="{{path("app_edit_structure", {"id" : structure.id})}}"><button class="btn">Editer</button></a>
            
        </div>
            
        {% endfor %}
        </div>

</div>
{% endblock %}
