{% extends 'base.html.twig' %}

{% block title %}Hello FranchiseController!{% endblock %}


{% block javascripts %}
 {{ encore_entry_script_tags('modal') }}
{% endblock %}


{% block body %}
{% embed 'includes/navigation.html.twig' %}
    {% block additionalItem %}
        <a href="{{path("create_structure", {"id" : franchise.id})}}">
            <button class="btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg> Nouvelle Structure
            </button>
        </a>
    {% endblock %}
{% endembed %}

<div class="container-fluid mt-3">
    {% for message in app.flashes('success') %}
        <div class="alert alert-info m-3">
            <div>{{ message }}</div>
        </div>
    {% endfor %} 
    <div class="d-flex justify-content-between">
        <a href="{{path("app_admin")}}">
            <button class="btn btn-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
             Retour
            </button>
        </a>
        <div class="d-flex align-items-center">
            <h2 class="me-2">
                {{franchise.userInfo.name}} 
            </h2>    
            <div>
                [
                {% if franchise.isActive == true %}
                <span class="green">Actif</span>
                {% else %}
                <span class="red">Inactif</span>
                {% endif %}
                ]
            </div>    
        </div>
        <div>
            <div >
                <button class="btn btn-dark" id="remove-franchise">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                    </svg>
                    Supprimer la franchise
                </button>
            </div>    
        </div>
    </div>    
</div>

    <div class="container">  
        {{form_start(formActive)}}
            <div class="d-flex justify-content-between">
            {{form_row(formActive.filter)}}
                <div class="d-flex">
                {{form_row(formActive.query)}}
                {{form_row(formActive.save)}}
                </div>
            </div>
        {{form_end(formActive)}}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="row">
                    {% for structure in structures %}
                    <div class="col-6">
                        <div class="box-wrapper  {{ structure.isActive == true ? '' :'box-inactive' }} p-2 mb-4">
                            <h3 class="text-center">{{structure.userInfo.name}}</h3>
                            <div>ID : {{structure.id}}</div>
                            <div>{{structure.userInfo.email}}</div>
                                {% if structure.isActive == true %}
                                    <div class="green">Actif</div>
                                    {% else %}
                                    <div class="red">Inactif</div>
                                {% endif %}
                            <div class="d-flex justify-content-between">
                                <a href="{{path("app_edit_structure", {"id" : structure.id})}}"><button class="btn btn-success">Editer</button></a>
                                {# <a href="{{path("")}}"><button>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                                    </svg>
                                </button></a> #}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div> 
            <div class="col-3">
                <div class="box-wrapper box-wrapper-big">
                {{ form_start(form, {'attr': {'id': "form_edit_permit"}}) }}
                    {{ form_widget(form) }}
                    <button type="button" class="btn btn-primary" data-toggle="modal" id="modal" disabled data-target="#permitModal">
                        Enregistrer les modifications
                    </button>
                {{ form_end(form) }}
                </div>
            </div>
        </div> 
    </div>
</div>  
<div class="d-flex justify-content-center">

</div>
{# modal modification #}
<div class="modal fade" id="permitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5>Modifications permissions</h5>
      </div>
      <div class="modal-body">
        <p>Etes-vous sûr de vouloir enregistrer les modifications?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="modal-close">Annuler</button>
        <button  type="submit" form="form_edit_permit" class="btn btn-success">Enregistrer les Modifications</button> 
      </div>
    </div>
  </div>
</div>   
{# Modal remove #}
<div class="modal fade" id="remove-franchise-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5>Suppression franchise</h5>
      </div>
      <div class="modal-body">
        <p>Etes-vous sûr de vouloir supprimer la franchise {{franchise.userInfo.name}} et ses structures ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="modal-remove-close">Annuler</button>
        <a href="{{path("remove_franchise", {"id" : franchise.userInfo.id})}}"><button class="btn btn-dark">Supprimer</button></a>
      </div>
    </div>
  </div>
</div>   

{% endblock %}
