{% extends 'base.html.twig' %}

{% block title %}Hello FranchiseController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {{id}}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Enregistrer les modifications</button>
        {{ form_end(form) }}
        <a href="{{path("create_structure", {"id" : id})}}"><button>Nouvelle Franchise</button></a>

        <div>
        {% for structure in franchise.structures %}
            <div>
                {{structure.infoUser.name}}
        <a href="{{path("app_edit_structure", {"id" : structure.id})}}"><button></button></a>
            </div>
        {% endfor %}
        </div>

</div>
{% endblock %}
