{% extends 'base.html.twig' %}

{% block title %}Hello FranchiseController!{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('modal') }}
    {{ encore_entry_script_tags('filter_franchise') }}
    
{% endblock %}
{% block body %}
    {% embed 'includes/navigation.html.twig' %}
        {% block additionalItem %}
            <div class="d-flex align-items-center">
            <h1 class="text-center">{{franchise.userInfo.name}}</h1>
            {% if franchise.isActive == true %}
                <div class="circle-green"></div>
                {% else %}
                <div class="circle-red"></div>
            {% endif %}
            </div>
        {% endblock %}
    {% endembed %}
    <a href="{{path("app_admin")}}" class="position-absolute m-3 ">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-backspace-fill red size-up" viewBox="0 0 16 16">
            <path d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2V3zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8 5.829 5.854z"/>
        </svg>
    </a>
    <div class="container mt-5 py-3">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success m-3">
                <div>{{ message }}</div>
            </div>
        {% endfor %} 
            <a href="{{path("create_structure", {"id" : franchise.id})}}">
                <button class="btn-grad grad-green ">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg> Nouvelle Structure
                </button>
            </a>
        {% if mail == true %}
        <a target="_blank" href="{{path("email_new_permit_franchise", {id : id})}}"><button>
            Mail
        </button></a>
        {% endif %}
        <div class="d-flex justify-content-between">

            <div>
            </div>
        </div>    
    </div>

    <div class="container 3">  
        <form id="filter" class="d-flex justify-content-between mb-3">
        <div class="radio-box">
            <input type="radio" checked name="filter" id="all" value="">
            <label for="all">Toutes</label>
            <input type="radio" name="filter" id="actif" value="1">
            <label for="actif">Actif</label>
            <input type="radio" name="filter" id="inactif" value="0">
            <label for="inactif">Inactif</label>
        </div>
        <div class="search-box">
            <div class="btn-search">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
            </div>
            <input type="text" id="search" name="search" class="input-search" placeholder="Rechercher">
        </div>
        </form>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 col-xxl-3 col-md-6 order-md-2">
                <div class="box-wrapper box-wrapper-big my-4 my-lg-0">
                {{ form_start(form, {'attr': {'id': "form_edit_permit"}}) }}
                    <div class="isActive">
                    {{ form_row(form.isActive) }}
                    </div>
                    {{ form_row(form.Permit) }}
                    <button type="button" class="btn btn-primary" data-toggle="modal" id="modal" disabled data-target="#permitModal">
                        Enregistrer les modifications
                    </button>
                {{ form_end(form) }}
                </div>
            </div>
            <div class="col-12 col-lg-8 col-xxl-9 col-md-6 mb-4 order-md-1" >
                <div class="row" id="content">         
                    {% include "content/structures.html.twig" %}
                </div>
            </div> 
        </div> 
            <div class="my-4">
                <button class="btn btn-danger w-100" id="remove-franchise">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                    </svg>
                    Supprimer la franchise
                </button>
            </div>    
        </div>
    </div>  
</div>  


{# modal modification #}
<div class="modal fade" id="permitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5>Modifications permissions</h5>
      </div>
      <div class="modal-body">
        <p>Etes-vous sûr de vouloir enregistrer les modifications?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="modal-close">Annuler</button>
        <button  type="submit" form="form_edit_permit" class="btn btn-success">Enregistrer les Modifications</button> 
      </div>
    </div>
  </div>
</div>   
{# Modal remove #}
<div class="modal fade" id="remove-franchise-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5>Suppression franchise</h5>
      </div>
      <div class="modal-body">
        <p>Etes-vous sûr de vouloir supprimer la franchise {{franchise.userInfo.name}} et ses structures ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="modal-remove-close">Annuler</button>
        <a href="{{path("remove_franchise", {"id" : franchise.userInfo.id})}}"><button class="btn btn-dark">Supprimer</button></a>
      </div>
    </div>
  </div>
</div>   

{% endblock %}
