{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block javascripts %}
 {{ encore_entry_script_tags('filter_franchise') }}
{% endblock %}


{% block body %}
{% embed 'includes/navigation.html.twig' %}
    {% block additionalItem %}
        <a href="{{path("app_create_franchise")}}">
            <button class="btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg> Nouvelle franchise
            </button>
        </a>
    {% endblock %}
{% endembed %}

<div class="container mt-4">
        {% for message in app.flashes('success') %}
        <div class="alert alert-info m-3">
            <div>{{ message }}</div>
        </div>
        {% endfor %}
    <div class="container" id="content">
        {# {{form_start(formActive)}}
        <div class="d-flex justify-content-between">
        {{form_row(formActive.filter)}}
            <div class="d-flex">
            {{form_row(formActive.query)}}
            {{form_row(formActive.save)}}
            </div>
        </div>
        {{form_end(formActive)}} #}
        <form id="filter">
            <input type="radio" checked name="filter[]" id="all" value="">
            <label for="all">Toutes</label>
            <input type="radio" name="filter[]" id="actif" value="1">
            <label for="actif">Actif</label>
            <input type="radio" name="filter[]" id="inactif" value="0">
            <label for="inactif">inactif</label>

        </form>
    </div>


    <div class="row">
{% for franchise in franchises %}
    <div class="col-12 col-sm-6 col-lg-4 d-flex justify-content-center p-4">
        <div class="box-wrapper {{ franchise.isActive == true ? '' :'box-inactive' }} p-2">
            <h2 class="text-center">{{franchise.userInfo.name}}</h2>
            <div>ID : {{franchise.userInfo.id}}</div>
            <div>Email : {{franchise.userInfo.email}}</div>
            <div>Structures : {{franchise.structures|length }}</div>
            {% if franchise.isActive == true %}
            <div class="green">Actif</div>
            {% else %}
            <div class="red">Inactif</div>
            {% endif %}
            <a href="{{path("app_edit_franchise", {'id': franchise.id })}}"><button class="btn btn-success">Editer</button></a>

        </div>
    </div>
{% endfor %}
    </div>
</div>



{% endblock %}
