{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}


    <div>{{franchise.userInfo.name}}</div>
    <div>{{structure.userInfo.id}}</div>
    <div>{{structure.userInfo.email}}</div>
    <div>{{structure.userInfo.name}}</div>




            {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn">Enregistrer les modifications</button>
        {{ form_end(form) }}




{% endblock %}